body {
    display: flex;
    justify-content: center;
}

div.container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    align-items: center;
    max-width: 480px;
    max-height: 480px;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.square {
    width: 30px;
    height: 30px;
}